@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Tilt Warp', cursive;
}

body {
  margin: 0;
  background-color: #708090;
}

.app {
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  max-width: 450px;
  min-height: 600px;
  margin: 10px auto;
  padding: 0 30px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  background-color: white; 
}

.title {
  width: 100%;
  text-align: center;
}

.newtask {
  margin: 0 40px;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 10px;
}

.newTaskForm {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.errorParagraph {
  position: absolute;
  font-size: 10px;
  color: red;
  top: 19%;
  left: 28%;
}

.newtaskinput {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  line-height: 20px;
  width: 100%;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

.newtaskinput::placeholder {
  text-align: center;
}

.newtaskinput:focus::placeholder {
  color: transparent;
}

.newtaskbutton {
  margin-left: 20px;
  color: blue;
  cursor: pointer;
  font-size: 25px;
  
}

.newtaskbutton:hover {
  color: rgb(4, 4, 206);
}

.check {
  width: 15px;
  height: 15px;
  padding-right: 15px;
  cursor: pointer;
  accent-color: green;
}

.taskList {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.taskList:hover {
  background-color: rgb(172, 172, 212);
}

.task-text {
  margin-right: auto;
}

.delete-button {
  font-size: 20px;
  border: none;
  float: right;
  cursor: pointer;
}

.delete-button:hover {
  color: red;
}

.reset-button {
  align-self: flex-end;
  margin-top: auto;
  margin-right: 10px;
  padding-bottom: 20px;
  cursor: pointer;
}

.reset-button:hover {
  color: red;
}

@media screen and (max-width: 450px) {
  .app {
    height: 100vh;
    margin: 0 auto;
    border-radius: 0;
  }

  .errorParagraph {
    top: 20%;
  }

}