@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Tilt Warp', cursive;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  padding-top: 10px;
  background-color: slategray;
}

.app {
  /* border: 1px solid black; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 450px;
  margin: auto;
  padding: 0px 30px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
 background-color: white; 
}

.title {
  width: 100%;
  text-align: center;
}

.newtask {
  margin: auto;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 10px;
}

.newtaskinput {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  line-height: 20px;
}

.newtaskbutton {
  margin-left: 10px;
  color: blue;
  cursor: pointer;
  font-size: 25px;
  
}

.newtaskbutton:hover {
  color: rgb(4, 4, 206);
}

.check {
  width: 15px;
  height: 15px;
  padding-right: 15px;
  cursor: pointer;
  accent-color: green;
}

.taskList {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.taskList:hover {
  background-color: rgb(172, 172, 212);
}

.task-text {
  margin-right: auto;
}

.delete-button {
  font-size: 20px;
  border: none;
  float: right;
  cursor: pointer;
}

.delete-button:hover {
  color: red;
}

.reset-button {
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.reset-button:hover {
  color: red;
}